<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portal Clase 1114 - Python y Flask</title>
  </head>
  <body>
    <!--
      Esta pagina es muy simple a proposito.
      La idea es que el alumno pueda leerla sin perderse.
    -->

    <h1>Bienvenidos al Portal de Clase 1114</h1>

    <p>Profesor: Henry Ortegon</p>
<p>Horario: Miercoles 16:45-18:10 | Jueves 12:30-14:20</p>

        <h2>Informacion de la clase</h2>
    <p><strong>Profesor:</strong> {{ profesor }}</p>
    <p><strong>Email:</strong> {{ email }}</p>
    <p><strong>Horario:</strong> {{ horario }}</p>
    <p><strong>Aula:</strong> {{ aula }}</p>
    <p><strong>Descripcion:</strong> {{ descripcion }}</p>



    <br></br>
    <br></br>

<p><strong>Nombre:</strong> {{ nombre1 }}</p>
<p><strong>Edad:</strong> {{ edad1 }}</p>
    
  </body>
</html>
