<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Panel Estudiante</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Clase 1114</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link" href="/informacion">Informacion</a></li>
                    <li class="nav-item"><a class="nav-link" href="/recursos">Recursos</a></li>
                    <li class="nav-item"><a class="nav-link" href="/tareas">Tareas</a></li>
                    <li class="nav-item"><a class="nav-link" href="/inscripcion">Inscripcion</a></li>
                    <li class="nav-item"><a class="nav-link" href="/estudiantes">Inscripcion</a></li>
                    <li class="nav-item"><a class="nav-link" href="/logout">Inscripcion</a></li>
                </ul>
            </div>
        </div>
    </nav>



    <h1>Panel del Estudiante</h1>
    <p>Bienvenido, {{ usuario }}</p>
    <h2>Tus Tareas</h2>

{% if tareas %}
<table border="1">
    <thead>
        <tr>
            <th>Tarea</th>
            <th>Entrega</th>
            <th>Descripcion</th>
        </tr>
    </thead>
    <tbody>
        {% for tarea in tareas %}
        <tr>
            <td>{{ tarea.titulo }}</td>
            <td>{{ tarea.fecha_entrega }}</td>
            <td>{{ tarea.descripcion }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No hay tareas asignadas.</p>
{% endif %}

</body>
</html>